body{
  overflow-x: hidden;
}

.App-header {
  height: 300px;
  background-image: url('./asstes//images/bg-desktop-light.jpg');
}

.App-content {
  
}

/* ------------------------------- MOBILE APP RESPONSIVE ---------------------- */
@media only screen and (max-width: 500px) {
  .App-header {
    height: 200px;
    background-image: url('./asstes//images/bg-mobile-light.jpg');
  }
}